<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shch.authserver.mapper.GtUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.shch.authserver.model.domain.GtUserRole">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="VARCHAR"/>
            <result property="roleId" column="ROLE_ID" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR"/>
            <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CREATE_TIME,ROLE_ID,
        UPDATE_TIME,USER_ID
    </sql>
</mapper>
