<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{themes/A4/layout}">
<body>
<section layout:fragment="main">
    <br>
    <span><span class="darkmode-ignore">🔖</span><i>categories</i></span>

    <ul class="">

        <li class="">
            <a href="/categories/%E5%A4%96%E8%AF%AD">外语</a>
            <span><i>3</i></span>
        </li>

        <li class="">
            <a href="/categories/%E6%83%85%E7%BB%AA">情绪</a>
            <span><i>22</i></span>
        </li>

        <li class="">
            <a href="/categories/%E5%A3%B0%E5%85%89">声光</a>
            <span><i>18</i></span>
        </li>

        <li class="">
            <a href="/categories/%E8%BD%AF%E4%BB%B6">软件</a>
            <span><i>16</i></span>
        </li>

        <li class="">
            <a href="/categories/%E6%80%9D%E8%BE%A8">思辨</a>
            <span><i>4</i></span>
        </li>

        <li class="">
            <a href="/categories/%E8%A1%A3%E9%A3%9F%E4%BD%8F%E8%A1%8C">衣食住行</a>
            <span><i>2</i></span>
        </li>

        <li class="">
            <a href="/categories/%E7%A8%8B%E5%BA%8F%E5%91%98">程序员</a>
            <span><i>3</i></span>
        </li>

    </ul>

</section>
</body>
</html>