<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{themes/A4/layout}">
<body>

<section layout:fragment="main">
    <div class="archive-list">
        <ul class="archive">
            <!--先放 置顶 文章-->
            <th:block th:each="top:${page.tops}">
                <li>
                    <span class="archive-date"> &nbsp;&nbsp;&nbsp;TOP</span>
                    <div class="archive-main">
                        <th:block th:if="${top.category!=null}">
                            <a class="archive-title" th:href="'/category/'+${top.category.value}"
                               th:text="${top.category.name}"></a> |
                        </th:block>
                        <a class="archive-title"
                           th:href="${'/post/'+top.postId}" th:text="${top.title}"></a>
                    </div>
                </li>
            </th:block>
            <!--后放 其他 文章-->
            <th:block th:each="archive:${page.archives}">
                <!--年份[数量]-->
                <li>
                        <span class="year-font-color">
                            <span th:text="${archive.name}+'['+${archive.posts.size}+']'"></span>
                            <span th:if="${archiveStat.index}==0" class="darkmode-ignore">🍃</span>
                        </span>
                </li>
                <th:block th:each="post:${archive.posts}">
                    <li>
                        <span class="archive-date" th:text="'&nbsp;&nbsp;&nbsp;'+${post.createTime}"></span>
                        <div class="archive-main">
                            <th:block th:if="${post.category!=null}">
                                <a class="archive-title" th:href="'/category/'+${post.category.value}"
                                   th:text="${post.category.name}"></a> |
                            </th:block>
                            <a class="archive-title"
                               th:href="${'/post/'+post.postId}" th:text="${post.title}"></a>
                        </div>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>
</section>

</body>
</html>