<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{themes/A4/layout}">

<body>

<section layout:fragment="main">
        <link rel="stylesheet" href="/assets/md/index.css"/>
        <link rel="stylesheet" href="/styles/github.css"/>
        <script>
                let process = {
                        env: {
                                NODE_ENV: "production"
                        }
                }

        </script>
        <script src="/assets/md/bytemd-1.21.0.umd.js.js"></script>
        <script src="/assets/md/plugin-gfm-1.21.0.umd.js.js"></script>
        <script src="https://unpkg.com/@bytemd/plugin-highlight@1.21.0/dist/index.umd.js"></script>
        <script src="https://unpkg.com/@bytemd/plugin-breaks"></script>
        <script src="https://unpkg.com/@bytemd/plugin-frontmatter"></script>
        <script src="https://unpkg.com/@bytemd/plugin-gemoji"></script>
        <script src="https://unpkg.com/@bytemd/plugin-highlight-ssr"></script>
        <script src="https://unpkg.com/@bytemd/plugin-math"></script>
        <!--<script src="https://unpkg.com/@bytemd/plugin-math-ssr"></script>-->
        <script src="https://unpkg.com/@bytemd/plugin-medium-zoom"></script>
        <script src="https://unpkg.com/@bytemd/plugin-mermaid"></script>

        <div class="content post-main">

            <div class="post-md">

                <div id="md-viewer"></div>
                <textarea type="hidden" id="mdContent" th:text="${page.content}" style="display: none;"></textarea>

            </div>
        </div>

        <script>
            const plugins = [bytemdPluginGfm(),bytemdPluginHighlight(),bytemdPluginBreaks(),bytemdPluginFrontmatter(),
                bytemdPluginGemoji(),bytemdPluginHighlightSsr(),bytemdPluginMath(),
                bytemdPluginMediumZoom(),bytemdPluginMermaid()]

            const mdContent = $("#mdContent")

            const editor = new bytemd.Viewer({
                target: document.getElementById('md-viewer'), // DOM to render
                props: {
                    value: mdContent.val(),
                    plugins,
                },
            })
            editor.$on('change', (e) => {
                // mdContent.val(e.detail.value)
                console.log(e.detail.value);
                // console.log(mdContent.val());
                editor.$set({value: e.detail.value})
            })
        </script>


</section>>

</body>
</html>