<div class="header">
    <div class="header-container">
        <img style="
        width: 56px;
        height: auto;" alt="^-^" cache-control="max-age=86400" class="header-img rounded-circle" src="/img/favicon.jpeg"
             width="10%"></img>
        <div class="header-content">
            <a class="logo" href="/">ChangJiahong</a>
            <span class="description">架构师|全栈</span>
        </div>
    </div>
    <ul class="nav">
        <li><a href="/">🏃首页</a></li>
        <th:block th:each="menu:${menus}">
            <li><a th:style="${menu.active?'color: #4e7dde;':''}" th:href="${menu.path}"
                   th:text="${menu.name}"></a></li>
        </th:block>
    </ul>
</div>
