<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/majestic/layout}">
<body>
<section layout:fragment="main">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Markdown管理 </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Markdown</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Markdown管理</li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hoverable Table</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>MD Id</th>
                                    <th>标题</th>
                                    <th>内容</th>
                                    <th>修改时间</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="md:${mds}">
                                    <tr class="text-center">
                                        <td th:text="${mdStat.index+1}"></td>
                                        <td>
                                            <a th:href="'/admin/edit-md?mdId='+${md.mdId}" th:text="${md.mdId}"></a>
                                        </td>
                                        <td th:text="${md.title}"></td>
                                        <td th:text="${md.content}"></td>
                                        <td th:text="${md.updateTime}"></td>
                                        <td th:text="${md.createTime}"></td>
                                        <td>
                                            <button type="button" class="btn btn-dark btn-icon-text" th:onclick="onEdit([[${md.mdId}]])"> 编辑 <i
                                                    class="mdi mdi-file-check btn-icon-append"></i>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-icon-text"> 删除 <i
                                                    class="mdi mdi-delete-forever btn-icon-append"></i>
                                            </button>
                                            <!--                                        <button type="button" class="btn btn-warning btn-icon-text">-->
                                            <!--                                            <i class="mdi mdi-reload btn-icon-prepend"></i> Reset-->
                                            <!--                                        </button>-->
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-2">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // https://examples.bootstrap-table.com/index.html?bootstrap4#options/pagination-load-more.html
        function onEdit(mdId){
            window.location.href = "/admin/edit-md?mdId="+mdId
        }

    </script>
</section>
</body>
</html>